body{
    padding-top: 56px;
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set ting */
}

.navbar{
    background-color: #fff;
    /* box-shadow: 200 200 #000; */
}
a, .nav-link, .dropdown-item{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a, .nav-link:hover{
    color: #BC0E0E;
}

a, .dropdown-item:hover{
    color: #BC0E0E;
}

/* .card-body, .info{
    background-color: #BC0E0E;
    color: #fff;
    border-radius: 25px;
} */

    /* CSS untuk styling alert */
.custom-alert {
    padding: 5px;
    /* background-color: #f8d7da; Warna latar merah muda */
    /* border: 1px solid #f5c6cb; Warna border */
    color: #721c24; /* Warna teks */
    border-radius: 5px; /* Corner radius */
    margin-bottom: 15px; /* Margin bawah */
    
}
